<!DOCTYPE html>
<html>
<body>
    <h2>Admin Dashboard 👨‍💼</h2>
    <p>Welcome Admin</p>

<a href="/view_beneficiary">View Beneficiaries</a> |
<a href="/add_beneficiary">Add Beneficiary</a> |
<a href="/view_stock">View Stock</a> |
<a href="/view_distribution">Distribution History</a> |
<a href="/view_logs">Audit Logs</a>
<a href="/report_monthly">Monthly Report</a> |
<a href="/report_stock">Stock Report</a> |
<a href="/report_performance">Performance Report</a>
<a href="/view_complaints">Complaints</a>
</body>
</html>