<!DOCTYPE html>
<html>
<body>
    <h2>Beneficiary List</h2>

    <a href="/add_beneficiary">+ Add Beneficiary</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Ration Card</th>
            <th>Members</th>
            <th>Action</th>
        </tr>

        {% for b in data %}
        <tr>
            <td>{{ b.id }}</td>
            <td>{{ b.name }}</td>
            <td>{{ b.ration_card }}</td>
            <td>{{ b.members }}</td>
            <td>
                <a href="/edit/{{ b.id }}">Edit</a> |
                <a href="/delete/{{ b.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>